* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    text-decoration: none;
    transition: background-color 0.5ms ease; 
    scroll-behavior: smooth;
    /* overflow: hidden; */
    
  }

.navbar{
    display: flex;
    align-items: center;
    justify-content: center ;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to right, black, blue);
    width: 100%;
    padding: 1.4rem 8%;
    position: fixed;
    z-index: 1000;
    padding: 15px;

}
.navbar .kelas a {
    color: rgba(251, 251, 251, 0.949); 
    text-decoration: none;
    margin: 0 25px;
    border-radius: 30%;
    padding: 10px;
    cursor: pointer;
  }
.navbar a:hover{
  background-color: rgb(0, 0, 0);
}
.navbar .logo{
    font-style: italic;
    color: rgb(237, 237, 245);
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-right: auto;
    pointer-events: none;
}
.navbar span{
    color:orange;
}
body{
      margin: 0;
      padding: 0;
      height: 100vh; /* 100% tinggi viewport */
      background: linear-gradient(to top, #ff9500, #ffff00); /* Ganti warna sesuai keinginan Anda */
      /* display: flex; */
      /* align-items: center; */
      /* justify-content: center; */
      color: #fff; /* Warna teks yang kontras dengan latar belakang */
      font-family: 'Arial', sans-serif;
}
.pelayanan h1{
  text-align: center;
  color: black;
  margin-top: 8%;
  font-size: 50px;
  font-family: "Nova Square";
  
}
marquee{
  color: black;
  font-size: 25px;
  margin-top: 10px;
  font-family: Shadows Into Light;

 
}
p{
  font-size: 15px;
  color: black;
  text-align: center;
  margin-top: 20px;
  font-family: Black Ops One;
}
img{
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 30px;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  /* display: flex; */
  transition: transform 80ms ease-out;
}
img:hover{
  transform:scale(1.5) ;
}

